.ngx-address {
    font-size: 12px;
    outline: 0;
    position: relative;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.ngx-address-title {
    padding: 4px 8px;
    border: 1px solid #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ccc;
    .arrow {
        position: absolute;
        top: 10px;
        right: 8px;
        width: 10px;
        height: 5px;
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAIAAADzBuo/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAD1JREFUeNpinDlzJgMDQ1paGgMqmDVrFpBkgkhAOGhyQCkmuFa4CrgckGT8//8/sigEwO1iwhRCdgdAgAEAbbUZNeMBbuoAAAAASUVORK5CYII=") 0 0 no-repeat;
    }
    &.has {
        color: #333;
        .separator {
            color: #cfcfcf;
            padding: 0 4px;
        }
    }
}

.ngx-address-overlay {
    position: absolute;
    left: -9999px;
    top: -9999px;
    z-index: 999999;
    outline: 0;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ngx-address-select-tab {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #f0f0f0;
    a {
        display: block;
        height: 100%;
        width: 100%;
        color: #333;
        text-align: center;
        line-height: 35px;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid transparent;
        text-decoration: none;
        outline: 0;
    }
    .current {
        background: #fff;
        border-bottom: 1px solid #fff;
        color: #f60;
    }
}

.ngx-address-select {
    border: 1px #ccc solid;
    border-top: 0;
    padding: 10px 15px;
    background: #fff;
    dl {
        display: flex;
        margin: 0;
        padding: 3px 0;
        line-height: 2;
    }
    dt {
        width: 35px;
        line-height: 2;
        padding-right: 10px;
        font-weight: 700;
        text-align: right;
    }
    dd {
        margin-left: 0;
        flex: 1;
    }
    a {
        display: inline-block;
        line-height: 2;
        text-decoration: none;
        color: #333;
        padding: 0 10px;
        outline: 0;
        text-decoration: none;
        white-space: nowrap;
        &:hover,
        &:focus {
            background-color: #fff8f3;
            border-radius: 2px;
            color: #f60;
        }
        &.current {
            background-color: #f60;
            color: #fff;
            border-radius: 2px;
        }
    }
}

.ngx-address-tips {
    border-top: 1px solid #ccc;
    color: #ccc;
    p {
        margin: 0;
        line-height: 2;
    }
}
